/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar (opcional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}
